body {
  background-color: #f9f6ef;
  color: #2c2d32;
  font-family: "libre Baskerville";
  margin-right: 10em;
  margin-left: 10em;
}
.project-description {
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
  margin: 0px 100px;
  color: #6b7266;
}

.page-heading {
  color: #333;
  font-size: 4em;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.section-heading {
  color: #333;
  font-size: 4em;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 10px;
}

.wrapper {
  padding: 0 200px;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  margin: 20px;
}

.search {
  font-family: Arial, sans-serif;
  color: #555;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}

.card-img-top {
 width: 100%;
 height: 40em;
 object-fit: cover;
 border-radius: 10px;
}

.news-title {
 font-style: italic;
 font-size: 40px;
 margin-bottom: 20px;
}

.btn-primary {
  text-decoration: none;
  background-color: #A5B39F;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.btn-primary:hover {
  background-color: #7B8B77;
}

  form {
    font-size: 18px;
    max-width: 1000px;
    margin: 0 auto;
  }

  select, input[type="text"] {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    background-color: #A5B39F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
  }
