<!-- Base template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Link to Bootstrap CSS stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-wTfdTkJiN7x9XkNikmxoBzrZrK3mqVzg0I1Y7VH12tRcdJxK0Xg2LKh7V5CPtdnm5v5DY2ld5F5B5E4y4cEu3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% block content %} {% endblock %}
    <!-- Link to Bootstrap JavaScript files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-Qqy3B9cyM4+CJgOmZr3jKqr7YlVKzYgV7AEyRtHkiKxX2QaLnNTg7Z2jKvFzCkAwwg+kYsGKjJGrvTbmM9Xe9A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>