{% extends "base.html" %}

{% block content %}
  <h1>News Articles</h1>
  <div class="row">
    {% for article in news_articles %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ article.imgurl }}" class="card-img-top" alt="Article Image">
          <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.description }}</p>
            <p class="card-text"><small class="text-muted">By: {{ article.author }}</small></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
