{% extends "base.html" %}

{% block content %}
  <h2>Search Results for topics about "{{ input }}"</h2>
  <h3>Search Results for topics about "{{ result[0] }}"</h3>

  {% if results|length == 0 %}
    <p>No results were found for the search term "{{ search }}".</p>
  {% else %}
    <ul>
      {% for result in results %}
          <a href="{{ result.output_url }}" target="_blank">{{ result.title }}</a>
          <p>{{ result.summary }}</p>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}