{% extends "base.html" %}

{% block content %}
<!--<form action="https://api.newscatcherapi.com/v2/search" method="get">-->

<!--<form action="https://api.nytimes.com/svc/search/v2/articlesearch.json?q=" method="get">-->
<form action="/search" method="get">


  <label for="search">Keyword search:</label>
  <input type="text" id="search" name="search">

  <label for="category">Category search:</label>
  <select id="category" name="category">
    <option value="">--Select a category--</option>
    <option value="business">Business</option>
    <option value="technology">Technology</option>
    <option value="health">Health</option>
    <option value="sports">Sports</option>
  </select>

  <input type="submit" value="Search">
</form>

<h1 class="header2">Search Results for "{{ result }}"</h1>

{% endblock %}